<!DOCTYPE html>
<html>
{% include "dochead.html" %}
<body>

{% include "header.html" %}

|...about the site<br>
<br>
|......about survivalgames<br>
This is a fun game/simulator you can play in your browser. Inspired by<br>
the <a href="https://brantsteele.com/hungergames/">Hunger Games Simulator on brantesteele.com</a>, and, by proxy, Suzanne Collins' "The Hunger Games".<br> You can make your favorite characters fight each-other to the death to survive!<br>
<br>
|......why does this website look like a terminal app<br>
I thought it was cool. If people don't like it I'll create some other themes<br>
<br>
------------------------------------------------------------------------------------------------------------------------<br>
<br>
|...game stuff<br>
<br>
|......registration<br>
Before you can start the simulator, you must register combatants.<br>
<br>
<a href="../register"> > Registration < </a><br>
<br>
|......simulate<br>
If everything is ready, you can start the simulator.<br>
<br>
It is quite clear, however, that no combatants are registered yet...<br>
<br>
------------------------------------------------------------------------------------------------------------------------<br>
<br>
|...combatant database (under construction)<br>
<br>
|......about<br>
Submit your favorite combatants into the combatant database so others may use them in their simulations.<br>
This feature is under construction... check back later<br>
</p>

</body>
</html>
